* {
    padding: 0;
    margin: 0
}

#main {
    display: flex;
    gap: 200px;
    padding-top: 100px;
}

img {
    width: 100%;
}

#event {
    margin-left: 150px;
    margin-top: 250px;
}

#event>h3 {
    margin-bottom: 10px;
    color: #008561;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;

}

#event>h1 {
    border: 1px solid transparent;
    width: 350px;
    font-size: 70px;
    font-family:monospace;
    opacity: 0.8;
}

#event>p {
    border: 1px solid transparent;
    width: 490px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.5;
}

#event>button {
    border: 1px solid transparent;
    margin-top: 55px;
    padding: 15px;
    width: 220px;
    border-radius: 35px;
    cursor: pointer;
    background-color: #008561;
    color: #fff;
}

/* middle css  */
#mainpast>p {
    font-size: 50px;
    margin-left: 150px;
    position: absolute;
    top: 135%;
}

.first {
    margin-top: 250px;
    ;
}

.past {
    display: flex;
    gap: 250px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.past>div>h2 {
    margin-left: 150px;
    margin-bottom: 80px;
    font-size: 50px;
    border: 1px solid transparent;
    width: 300px;
}

.past>div>p:nth-child(2) {
    margin-left: 150px;
    margin-bottom: 30px;
    font-size: 35px;
    
}

.past>div>p:nth-child(1) {
    border: 1px solid transparent;
    width: 300px;
    color: #008561;
    margin-left: 150px;
}

.past>div>p:nth-child(3) {
    border: 1px solid transparent;
    width: 650px;
    margin-left: 150px;
    font-size: 18px;
    line-height: 1.4;
    opacity: 0.9;
}

.past>div>p:nth-child(4) {
    border: 1px solid transparent;
    margin-left: 150px;
    margin-top: 30px;
    text-decoration: underline;
    font-size: 20px;
    color: #008561;
    cursor: pointer;
}

.shortimg {
    width: 25%;
    margin-right: 110px;
    cursor: pointer;
}

#slide {
    border:1px solid red;
    width:100px;
    margin: auto;
}

/* 
*********************************** navbar css start here */
/* navbar css  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: white;
}
#nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

#left-nav{
    display: flex;
    justify-content: space-around;
}
.logo{
    margin-right: 50px;
}
#left-nav>ul{
    list-style-type: none;
    display: flex;
}
#left-nav>ul>li>button{
    font-family: Untitled Sans,Arial,Helvetica,sans-serif;
    margin-right: 38px;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -.01em;
    background: none;
    border: 0;
    cursor: pointer;
    position: relative;
    
}
#left-nav>ul>li>button:hover{
    color: #4cb398;
   
}
#left-nav>ul>li>button:after{
    position: absolute;
    /* display: block; */
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}
#right-nav>ul{
    list-style-type: none;
    display: flex;
}
#right-nav>ul>li>a{
    background-color: transparent;
    color: #15372c;
    border-radius: 25px;
    border: 1px solid #15372c;
    display: inline-block;
    font-family: Untitled Sans,Arial,Helvetica,sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    padding: 12px 30px;
    min-height: 43px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 18px;
    margin-left: 20px;
}
.search{
    cursor: pointer;
    border: 0;
    margin-top: 10px;
    padding: 20px;
    /* background-color: white;
    color: white; */
    background-color:white;
    background-size: 25px 28px;
    background-image: url("https://www.greenhouse.io/assets/svg/search-green.svg");
    background-repeat: no-repeat;
    margin-left: 20px;
}
#nav1{
    background-color: #15372C;
    display: none;
}
#content1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.left h3{
    color: #47A78D;
}
.right h3{
    color: #47A78D;
}
.detail>ul{
    list-style-type: none;
}
.detail>ul>li{
    margin-top: 30px;
    margin-bottom: 30px;
}
.detail>ul>li>a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
#nav2{
    background-color: #15372C;
    display: none;
}
#content2{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 120px;
    
}



.right1{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}
.right1>div>img{
    max-width: 220px;
}
.right1>div:last-child{
    width: 450px;
}
.avail{
    color: white;
    
}
.avail>p{
    color: #47A78D;
    font-size: 18px;
}
.avail>h3{
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 8px;
   
}
.avail>h4{
    
     font-size: 15px;
    line-height: 40px;
    margin-bottom: 25px;
}
.avail>a{
    background-color: transparent;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #fff;
    display: inline-block;
   
    font-size: 1.5rem;
    line-height: 1;
    padding: 12px 30px;
    min-height: 43px;
    text-decoration: none;
    cursor: pointer;
}

#nav3{
    background-color: #15372C;
    display: none;
}
#content3{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 120px;
    
}
#nav4{
    background-color: #15372C;
    display: none;
}
#content4{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 120px;
    
}